@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header{
  padding: 47px 0;
  &__inner{
    display: flex;
    align-items: center;
    
  }
}
.logo{
  margin-right: 135px;
}
.menu{
  display: flex;
  align-items: center;
  &__list{
    display: flex;
    justify-content: space-between;
    
   &-item{
    margin: 0 30px;
   }
   &-link{
     @extend %rubik-400;
     text-transform: uppercase;
     font-size: 15px;
     line-height: 35px;
     color: $title;
     position: relative;
     padding-bottom: 20px;
     &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/dot.png');
      background-repeat: no-repeat;
      width: 4px;
      height: 4px;
      top: 6px;
      right: -30px;
     }
     &:hover{
       font-weight: 600;

       border-bottom: 3px solid #79be32;
       
     }
   }
   
  }
  &__select{
    display: flex;
    margin-left: 15px;
    &-btn{
      margin: 0 10px;
      @extend %rubik-400;
      color: #b3b3b3;
      font-size: 15px;
     line-height: 35px;  
    }
    &-btn--active{
      color: $title;
      font-weight: bold;
    }
  }
}



.parasite{
  &__slider{
    
    &-content{
      display: flex;
      justify-content: space-between;
    }
    &-img{
      background-image: url('../images/slider_bg.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 770px;
      max-width: 860px;
      width: 100%;
      display: block;
    }
    &-box{
      background-color: #f5fce3;
      max-width: 1060px;
      width: 100%;
      
    }
    &-inner{
      margin-top: 150px;
      margin-left: 110px;
      
    }
    &-title{
      @extend %rubik-700;
      font-size: 72px;
      line-height: 35px;
      color: #2d3691;
      margin-bottom: 50px;
    }
    &-subtitle{
      @extend %opensans-600;
      font-size: 22px;
      line-height: 40px;
      color: #f9aa12;
      margin-bottom: 55px;
      margin-left: 90px;
      text-transform: uppercase;
      position: relative;
        &::before{
          content: '';
          position: absolute;
          background-image: url('../images/slider_line.png');
          height: 2px;
          width: 45px;
          top: 22px;
          left: -90px;
        }
    }
    &-text{
      @extend %opensans-600;
      font-size: 15px;
      line-height: 38px;
      color: #2d3691;
      max-width: 545px;
      text-align: left;
      margin-bottom: 100px;
      
    }
    &-link{
      @extend %rubik-500;
      font-size: 15px;
      color: #79be32;
      margin-left: -50px;
      text-transform: uppercase;
      position: relative;
      outline: none;
      &::after{
        position: absolute;
        content: '';
        background-image: url('../images/link-arrow.png');
        background-repeat: no-repeat;
        width: 30px;
        height: 18px;
        top: 30px;
        left: 30px;
      }
    }
    
  }

  .slick-dots{
    position: absolute;
    bottom: 4px;
    left: 0;
    background-image: url('../images/dots-bg.png');
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    button{
    outline: none;
    border: none;
    color: #fff;
    background-color: transparent;
    padding: 10px;
    @extend %rubik-400;
    font-size: 15px;
    }
    
  }
  
  .slick-active{
    button{
    @extend %rubik-700;
    color: #000;
    border-right: 2px solid #fff;
    }
  }
}


.fito{
  padding: 250px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__box{
    max-width: 550px;
  }
  &__title{
     @extend %rubik-700;
      font-size: 36px;
      line-height: 35px;
      color: #2d3691;
      margin-bottom: 60px;
  }
  &__subtitle{
     @extend %opensans-700;
      font-size: 18px;
      line-height: 40px;
      color: #f9aa12;
      margin-bottom: 50px;
      margin-left: 80px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/slider_line.png');
          height: 2px;
          width: 45px;
          top: 22px;
          left: -77px;
      }
  }
  &__text{
     @extend %opensans-600;
      font-size: 15px;
      line-height: 38px;
      color: #2d3691;
      margin-bottom: 40px;
      margin-left: 45px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/fito-arrow.png');
        background-repeat: no-repeat;
        width: 12px;
        height: 20px;
        top: 10px;
        left: -42px;
      }
  }
  &__btn{
    padding: 30px 145px;
    @extend %rubik-500;
      font-size: 15px;
      line-height: 35px;
      color: #fff;
      text-transform: uppercase;
      background-color: #79be32;
      border: none;
      outline: none;
  }
}


.aldenbazol{
  &__slider{
    &-content{
      display: flex;
      justify-content: space-between;
    }
    &-img{
      background-image: url('../images/aldenbazol-bg.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 700px;
      max-width: 1060px;
      width: 100%;
      display: block;
    }
    &-box{
      background-image: url('../images/aldenbazol-grey.jpg');
      max-width: 860px;
      height: 700px;
      width: 100%;
    }
    &-inner{
      margin-top: 210px;
      margin-left: 320px;
    }
    &-title{
      @extend %rubik-700;
      font-size: 62px;
      line-height: 60px;
      color: #f9aa12;
      margin-bottom: 45px;
    }
    &-subtitle{
      @extend %opensans-700;
      font-size: 37px;
      line-height: 60px;
      color: #2d3691;
      margin-bottom: 55px;
      margin-left: 50px;
      position: relative;
        &::before{
          content: '';
          position: absolute;
          background-image: url('../images/aldenbazol-cross.png');
          height: 36px;
          width: 36px;
          top: 10px;
          left: -50px;
        }
    }
    &-text{
      @extend %opensans-600;
      font-size: 15px;
      line-height: 38px;
      color: #2d3691;
      max-width: 415px;
      text-align: left;
      margin-bottom: 100px;
      position: relative;
    }
  }

.slick-dots{
    position: absolute;
    bottom: 0;
    right:calc(47%);
    background-image: url('../images/dots-bg.png');
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    button{
    outline: none;
    border: none;
    color: #fff;
    background-color: transparent;
    padding: 10px;
    @extend %rubik-400;
    font-size: 15px;
    }
    
  }
  
  .slick-active{
    button{
    @extend %rubik-700;
    color: #000;
    border-left: 2px solid #fff;
    }
  }
}


.test{
  padding: 120px 0 100px 0;
  background-image: url('../images/test-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

 
  &__title{
    @extend %rubik-700;
    font-size: 36px;
    line-height: 40px;
    color: #2d3691;
    margin-bottom: 60px;
  }
  &__text{
     @extend %opensans-400;
    font-size: 18px;
    line-height: 40px;
    color: #2d3691;
    max-width: 810px;
    margin: 0 auto;
    padding: 60px 70px 96px 70px;
    background-image: url('../images/test-forma.jpg');
    background-repeat: no-repeat;
    background-position: center;
    span{
      @extend %opensans-700it;
    }
  }
  &__btn{
    padding: 30px 65px;
    text-transform: uppercase;
    color: #fff;
    background-color: #2d3691;
    @extend %rubik-500;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    max-width: 240px;
    margin: 0 auto;
    margin-top: -50px;
  }
}

.profilactic{
  padding: 160px 0;
  text-align: center;
  &__title{
     @extend %rubik-700;
      font-size: 70px;
      line-height: 40px;
      color: #2d3691;
      margin-bottom: 50px;
  }
  &__subtitle{
    @extend %opensans-400;
    font-size: 18px;
    line-height: 40px;
    color: #b2b2b2;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  &__slider{
    background-image: url('../images/profilactic-slider-bg.jpg');
   
    &-item{
     max-width: 1120px;
     margin: 0 auto;
     position: relative;  
    }
    &-content{
      display: flex;
      justify-content: space-between;
      
    }
    &-text{
      @extend %opensans-600it;
      font-size: 18px;
    line-height: 35px;
    color: #2d3691;
    max-width: 315px;
    margin-top: 130px;
    
    
    }
  }

  .slick-dots{
    display: flex;
    position: absolute;
    left: calc(24.5%);
    bottom: 45px;
    button{
      outline: none;
      border: none;
      border-radius: 50%;
      font-size: 0;
      height: 11px;
      width: 8px;
      background-color: #85c444;
      margin: 0 13px;
    }
    
  }

  .slick-active{
    button{
      height: 16px;
      width: 16px;
      background-color: #f9aa12;
    }
  }

  .slick-prev{
    position: absolute;
    left: 14%;
    top: 44%;
    border: none;
    outline: none;
    font-size: 0;
    background-image: url('../images/profilactic-left.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 45px;
    background-color: transparent;
    z-index: 10;
  }
  .slick-next{
    position: absolute;
    right: 22%;
    top: 44%;
    border: none;
    outline: none;
    font-size: 0;
    background-image: url('../images/profilactic-right.png');
    background-repeat: no-repeat;
        background-position: center;
    height: 60px;
    width: 45px;
    background-color: transparent;
  }
}



.doctors{
  padding-bottom: 130px;
  
  &__inner{
    display: flex;
    justify-content: space-between;
    // position: relative;
    // &::after{
    //   content: '';
    //   position: absolute;
    //   height: 1px;
    //   max-width: 940px;
    //   width: 100%;
    //   right: 0;
    //   bottom: 455px;
    //   background-image: url('../images/doctors-border.jpg')
    // }
  }
  &__slider{
    background-color: #f7fce8;
    height: 440px;
    max-width: 860px;
    width: 100%;
    position: relative;
    &-link{
      height: 440px;
    }
    &-play{
        margin: 0 auto;
        margin-top: -275px;
    }
    &-content{
      display: flex;
      flex-direction: row-reverse;
    }
  }



  &__title{
    @extend %rubik-700;
    font-size: 70px;
    line-height: 70px;
    color: #2d3691;
    text-align: center;
    margin-bottom: 125px;
  }


  &__box{
   max-width: 950px;
   width: 100%;
   padding: 0 10px;
    &-title{
    @extend %rubik-700;
    font-size: 36px;
    line-height: 50px;
    color: #f9aa12;
    margin: 115px 0 55px 0;
    }
    &-subtitle{
    @extend %opensans-400;
    font-size: 18px;
    line-height: 40px;
    color: #2d3691;
    max-width: 520px;
    margin-bottom: 95px;
    
   
    }
    &-text{
    @extend %opensans-400;
    font-size: 15px;
    line-height: 30px;
    color: #333333;
    max-width: 540px;
   
    margin-bottom: 55px;
    }
    &-btn{
      border: none;
      outline: none;
      background-color: transparent;
      text-transform: uppercase;
      @extend %rubik-400;
      font-size: 15px;
      color: #79be32;
      margin-left: 45px;
      position: relative;
        &::before{
          content: '';
          position: absolute;
          background-image: url('../images/slider_line.png');
          height: 2px;
          width: 22px;
          top: 10px;
          left: -40px;
        }
    }
  }


 .slick-dots{
  position: absolute;
  display: flex;
  bottom: -60px;
  right: 130px;
  button{
      outline: none;
      border: none;
      border-radius: 50%;
      font-size: 0;
      height: 11px;
      width: 8px;
      background-color: #85c444;
      margin: 0 13px;
    }
 }

 .slick-active{
    button{
      height: 16px;
      width: 16px;
      background-color: #f9aa12;
    }
  }

 .slick-prev{
   position: absolute;
   left: 300px;
   top: 44%;
   border: none;
    outline: none;
    font-size: 0;
    background-image: url('../images/profilactic-left.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 45px;
    background-color: transparent;
    z-index: 10;
   
 }
 .slick-next{
   position: absolute;
   right: 50px;
   top: 44%;
   border: none;
    outline: none;
    font-size: 0;
    background-image: url('../images/profilactic-right.png');
    background-repeat: no-repeat;
        background-position: center;
    height: 60px;
    width: 45px;
    background-color: transparent;
 }
}


.questions{
padding-bottom: 150px;
  &__title{
    @extend %rubik-700;
    font-size: 70px;
    line-height: 70px;
    color: #2d3691;
    text-align: center;
    margin-bottom: 60px;
  }
  &__subtitle{
     @extend %opensans-400;
    font-size: 18px;
    line-height: 40px;
    color: #333333; 
    text-align: center;
    margin-bottom: 80px;
  }

  .accordion{
    padding: 65px 0 70px 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    
    &-header{
     @extend %opensans-800;
    font-size: 36px;
    line-height: 85px;
    color: #cccccc; 
    margin-left: 190px;
    cursor: pointer;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/questions-cross.png');
      background-repeat: no-repeat;
      width: 27px;
      height: 27px;
      top: 30px;
      left: -85px;
      cursor: pointer; 
      }
    }
    &-body{
    @extend %opensans-400;
    font-size: 15px;
    line-height: 30px;
    color: #333333; 
    max-width: 900px;
    margin-left: 190px;
    display: none;
   

    }
    .active{
        color: #f9aa12;
        &::before{
          background-image: url('../images/questions-minus.png');
          top: 42px;
        }
    }
  }
}


.reviews{
  text-align: center;
  padding-bottom: 260px;
  border-bottom: 1px solid #2d3691;
  &__title{
    @extend %rubik-700;
    font-size: 70px;
    line-height: 70px;
    color: #2d3691;
    margin-bottom: 70px;
  }
  &__subtitle{
    @extend %rubik-400;
    font-size: 18px;
    line-height: 40px;
    color: #f9aa12;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  &__slider{

    &-item{
      padding-top: 70px; 
    }
    &-content{
       background-image: url('../images/reviews-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      max-width: 1080px;
      width: 100%;
      height: 390px;
      position: relative;
      margin: 0 auto;
    }
    &-img{
      position: absolute;
      margin: 0 auto;
      top: -65px;
      left: 45%;
      border: 10px solid #fff;
      border-radius: 50%;
    }
    &-text{
      max-width: 875px;
      margin: 0 auto;
      padding-top: 125px;
      @extend %opensans-400it;
      font-size: 18px;
      line-height: 40px;
      color: #333333;
      margin-bottom: 30px;
    }
    &-name{
      margin: 0 auto;
      @extend %rubik-400;
     font-size: 18px;
     line-height: 40px;
     color: #2d3691;
    }
  }

.slick-dots{
  position: absolute;
  display: flex;
  bottom: -60px;
  right: 43%;
  button{
      outline: none;
      border: none;
      border-radius: 50%;
      font-size: 0;
      height: 11px;
      width: 8px;
      background-color: #85c444;
      margin: 0 13px;
    }
 }

 .slick-active{
    button{
      height: 16px;
      width: 16px;
      background-color: #f9aa12;
    }
  }

 .slick-prev{
   position: absolute;
   left: 18%;
   top: 50%;
   border: none;
    outline: none;
    font-size: 0;
    background-image: url('../images/reviews-left.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 45px;
    background-color: transparent;
    z-index: 10;
   
 }
 .slick-next{
   position: absolute;
   right: 18%;
   top: 50%;
   border: none;
    outline: none;
    font-size: 0;
    background-image: url('../images/reviews-right.png');
    background-repeat: no-repeat;
        background-position: center;
    height: 60px;
    width: 45px;
    background-color: transparent;
 }




}



.footer{
  padding: 70px 0 50px 0;
  &__nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px dashed #79be32;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    width: 100%;
    &-item{
    margin: 0 30px;
   }
   &-link{
     @extend %rubik-400;
     text-transform: uppercase;
     font-size: 15px;
     line-height: 35px;
     color: $title;
     position: relative;
     &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/dot.png');
      background-repeat: no-repeat;
      width: 4px;
      height: 4px;
      top: 6px;
      right: -30px;
     }
     &:hover{
       font-weight: 600;
     }
   }
  }
  &__btn{
    outline: none;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    @extend %opensans-600;
    font-size: 15px;
    line-height: 35px;
    color: #79be32;
    position: relative;
    padding-right: 60px;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/slider_line.png');
      height: 2px;
      width: 45px;
      top: 18px;
      right: 0;
    }
  }
  &__copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    &-text-1{
    @extend %opensans-400;
    font-size: 15px;
    line-height: 30px;
    color: #000; 
    }
    &-text-2{
      padding-right: 60px;
      @extend %opensans-400;
    font-size: 15px;
    line-height: 30px;
    color: #000;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/copyright-icon.png');
      background-repeat: no-repeat;
      width: 30px;
      height: 20px;
      top: 4px;
      right: 0;
    }
    }
  }
}

.footer__list-first{
  margin-left: 10px;
}

.footer__list-last{
  &::after{
    background-image: none;
  }
}




























@import 'media';

























